/* *, *:before, *:after {
    box-sizing: inherit;
  } */
  html {
    font-size: 12px;
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }

body, html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
kbd {
    display: block;
    font-size: 5rem;
}
h1 {
    font-size: 5rem;
    margin: 0;
    padding: 0;
    font-family: fantasy;
    text-align: center;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: lightslategray;
}
li {
    float: right;
}
li a {
    display: block;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    color: mintcream;
}
.character {
    background-image: url('../img/deku.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 550px 450px ;
    
}
.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center ;
    position: relative;

}
.key {
    border: .4rem solid white;
    opacity: .8;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    transition: all 0.75s ease;
    text-align: center;
    background-color: seagreen;
    text-shadow: 0 0 .5rem black;
}
.playing {
    transform: scale(.85);
    border-color: chartreuse;
}
.sound {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: cadetblue
}
